

<p>
  <b>Brand:</b>
  <%= @ingredient.brand %>
</p>

<p>
  <b>Type:</b>
  <%= @ingredient.ingredient_type %>
</p>


<%= link_to 'Edit', edit_ingredient_path(@ingredient) %> |
<%= link_to 'Back', ingredients_path %>
